.marketing-no-decoration {
    text-decoration: none;
}

.marketing-icon {
    margin-right: 5px;
}

.marketing-heroContent {
    background-color: #303f9f;
    padding: 8px 0px 6px;
    margin-bottom: 20px;
}

.marketing-heroButtons {
    margin-top: 4px;
}

.marketing-cardGrid {
    padding-top: 8px;
    padding-bottom: 8px
}

.marketing-card {
    height: '100%';
    display: flex;
    flex-direction: column
}

.marketing-cardMedia {
    padding-top: 56.25%;
}

.marketing-cardContent {
    flex-grow: 1
}